<p>Explore the pandemic according to regional socio-economic and demographic statistics.</p>

<h3>Versions</h3>
<ul>
  <li><a href="https://mspringsteen.shinyapps.io/counting-covid19/">International</a></li>
  <li><a href="https://mspringsteen.shinyapps.io/counting-covid19-USA/">US States</a></li>
</ul>

<p>For information about data and updates, or to request the addition of features, check out the GitHub links below.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    Github repos:
    <a href="https://github.com/mikaelaspringsteen/counting-covid19/blob/master/README.md">International</a> | <a href="https://github.com/mikaelaspringsteen/counting-covid19-USA/blob/master/README.md">US States</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://mikaelaspringsteen.github.io/">The Developer</a>
  </li>
</ul>
