<p>Explore the pandemic according to regional socio-economic and demographic statistics.</p>

<h3>Versions</h3>
<ul>
  <li>Compare <a href="https://mspringsteen.shinyapps.io/counting-covid19/">International</a> rates</li>
  <li>Compare rates across <a href="https://mspringsteen.shinyapps.io/counting-covid19-USA/">US States</a></li>
  <li>Compare rates across <a href="https://mspringsteen.shinyapps.io/counting-covid19-counties/">US Counties</a> <font size="2"><em>(note: if the datasets powering other versions of the app are merely 'large', the dataset comparing counties is massive—expect long load times, particularly if analyzing counties from a number of states simultaneously)</em></font></li>
</ul>

<p>For information about data and updates, or to request the addition of features, check out the GitHub links below.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    Github repos: <a href="https://github.com/mikaelaspringsteen/counting-covid19">International</a> | <a href="https://github.com/mikaelaspringsteen/counting-covid19-USA">US States</a> | <a href="https://github.com/mikaelaspringsteen/counting-covid19-counties">US Counties</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://mikaelaspringsteen.github.io/">The Author</a>
  </li>
</ul>
